* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #373950;
  transition: 0.4s;
  border-radius: 44px;
  cursor: pointer;
}

.switch {
  position: relative;
  width: 120px;
  height: 58px;
  margin-right: 1rem;
  display: block;
  margin: auto;
}

.switch input {
  opacity: 0;
}

.switch input:checked+.slider {
  background-color: #373950;
  background: linear-gradient(#ff8866, #feb779);
}

.circle {
  position: absolute;
  height: 54px;
  width: 54px;
  top: 2px;
  bottom: 0;
  left: 2px;
  background-color: #9092a7;
  color: #373950;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.circle i {
  font-size: 2.8em;
}

.switch--active {
  color: #ff9d70 !important;
  transform: translateX(62px);
  background: #fff;
}